/* File: styles.css
 * ----------------
 * Customized style sheet for CS41
 * 
 * Revision History:
 * @sredmond 2017-02-13 removed dead styles
 * @skleung  2015-??-?? created
 */

html {
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Splash Page */

.splash.page {
  /* We need this to be explicit or else Bootstrap
   * drops the background opacity on fadeOut */
  background-color: #fff;
}

.splash.page .container {
  position: relative;
  top: 45%;
  transform: perspective(1px) translateY(-50%);
}

.splash.page .title {
  font-size: 64px;
}

.splash.page .subtitle {
  font-size: 32px;
}

/* YouTube Modal */
.youtube-modal-embed {
  width: 468px;
  height: 234px;
}