/* SITE WIDE */
body {
  font-family: "Source Sans Pro", sans-serif !important;
  background-color: white;
  padding-bottom: 150px;
}

h2,
h3,
h4,
blockquote {
  margin-top: 30px !important;
}

/* BLOCKQUOTE */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 20px;
  quotes: "\201C""\201D""\2018""\2019";
}

/*
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}*/

blockquote p {
  display: inline;
}

/* HOME PAGE */
#logo {
  width: 180px;
  max-width: 100%;
}

ul.essential-links {
  font-size: 14pt;
}

dl.at-a-glance dt,
dl.at-a-glance dd {
  margin-top: 15px;
}

/* NAVBAR */
.navbar {
  background-image: linear-gradient(to right, #a18cd1 0%, #c56dac 100%);
}

.navbar-brand,n
.navbar-nav .nav-link {
  color: #bbb;
  &:hover {
    color: white;
  }
}

/* PAGE */
.content {
    font-size: 13pt;
}
